@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

h1, h2, h3, h4, h5, h6, p, th, td {
  color: rgb(241, 245, 249);
}

.react-tabs__tab-list {
  border-bottom: 1px solid rgb(241, 245, 249) !important;
}

.react-tabs__tab--selected {
  background: rgb(71, 85, 105) !important;
  border-color: rgb(51, 65, 85) !important;
  color: antiquewhite !important;
}

.react-tabs__tab:focus:after {
  background: transparent !important;
}